# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/

.dart_tool/extension_discovery/README.md
.dart_tool/extension_discovery/vs_code.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.example/.dart_tool/extension_discovery/README.md
.example/.dart_tool/extension_discovery/vs_code.json
.example/.dart_tool/flutter_build/c6ae16ea18f289aab5139a8f90e32622/.filecache
.example/.dart_tool/flutter_build/c6ae16ea18f289aab5139a8f90e32622/App.framework/App
.example/.dart_tool/flutter_build/c6ae16ea18f289aab5139a8f90e32622/app.dill